* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Roboto';
}

html,body {
	background-image: url("../img/backpages.png");
		background-color: rgba(0,0,0,.7);
	background-repeat: repeat;
	background-position: center;
	width: 100%;
	height: 100%;
	
	
}


header {

	width: 100%;
	display: flex;
	flex-direction: row;

	background: black;

	height: 70px;
	justify-content: space-between;



}

header img {
	position: relative;
	top:-60px;

}

.navigation {
	align-self: center;
	list-style-type: none;
	text-align: center;
	margin-right: 500px;
	display: block;
	padding-left: 60px;
}

.navigation li {
	display: inline;
	

}
.navigation li a{


	color: #fff;
	text-decoration: none;

	font-size: 16px;
	font-weight: bold;
	padding: 26px 20px;


}





.navigation a:hover {
	background: #9F9F9F;
}

.sub-menu-news {
	position: absolute;
	background: #1A0B2C;
}

.sub-menu-news ul {
	padding: 20px;
}

.sub-menu-news li {
	color: white;
	text-align: 15px;
	font-weight: bold;
	
}


.signin {
	align-self: center;
	color: #fff;
	text-decoration: none;
	font-size: 16px;
	text-align: center;

	border: 1px solid #686363;
	border-right: none;
	border-radius: 5px 0px 0px 5px;
	background: #353434;
	height: 40px;
	width: 200px;
	font-weight: bold;

	align-items: center;
	top: -30px;
	float: right;
	cursor: pointer;
}

.signin:hover {
	background: #686363;
}

/* .subnews {
	position: absolute;
z-index: 12412;
	background: #1A0B2C;
	padding:10px;
	left: 10%;

}
.subnews a {

	text-decoration: none;
	color: white;
	font-weight: bold;
	padding-right: 60px;
} */




.back-main {


	background-image: url("../img/background.png");
		background-color: rgba(0,0,0,.7);
	background-repeat: repeat;
	background-position: center;
	width: 100%;
	mix-blend-mode: exclusion;
	height: 100vh;

}

.main {
	padding:10% 25% 0% 25%;
	margin-bottom: 220px;

}

.main h1,h2,h2{
	color: #fff;
	font-weight: normal;
	margin-bottom: 50px;

}


.main h2:nth-child(3){

	margin-bottom: 20px;

}

.main h1{
font-size: 36px;
	font-weight: bold;
	margin-bottom: 50px;

}

.block-sites {
	display: flex;
	flex-direction: row;

}
.block-sites img {
	width: 45px;
	height: 45px;
	margin-right: 10px;
	justify-content: space-between;
}

/*подвал сайта*/

footer {
	bottom: 0;

	display: flex;
	flex-direction: row;
	margin-top: 20px;
	justify-content: center;
	background: black;
	width: 100%;
	height: 120px;
	color: #fff;
	
}

.content-footer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	column-gap: 130px;
	
}

.copyright {


	
}

.nav-footer {
	display: flex;
	flex-direction: column;
	
}

.nav-footer a{

	color: white;
	text-decoration: none;
}

.contact-footer{
	

}
	
	
	



.social-network-footer {

	margin-top: 5px;
}

.icon-social-network {
	margin-top: 10px;
}


/* страница контактов*/

.container-contacts {
	display: flex;
	flex-direction: column;

	color: white;
	margin: auto;
	margin-top: 140px;
	margin-bottom: 140px;
	width: 1000px;
}
.container-contacts h1{
	margin-bottom: 60px;
	font-size: 2.5em;
}
.container-contacts h2{
	line-height: 35px;
}


/* Модальное окно авторизации*/


#overlay-modal-signin {
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.5);


}

.modal-signin {
	z-index: 124124;
	display: none;
	position: absolute;
	left: 50%;
	top: 50%;
	
	height: 512px;
	background: #272727;
	margin-left: -218px;
	margin-top: -256px;
	color: white;
	border-radius: 5px;
}

.modal-signin form {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	padding-top: 50px;
	padding-left: 70px;
	padding-right: 70px;

}
.modal-signin form .inputs-signin{
	margin-top: 50px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	

}

.modal-signin h1{
	text-align: center;
	
}

.modal-signin form .forgot-password{
	text-align: center;
	color: #2F631D;
	margin-bottom: 40px;
	padding-top: 5px;
}

.modal-signin form label{
	font-size:1.4em;
	padding-top:25px;
	padding-bottom: 5px;


}

.modal-signin form input{
	font-size:1.4em;
	background: #656565;
	border: none;
	border-radius: 5px;
	padding:5px;
}

.modal-signin form .input{
	font-size:1.4em;
	background: transparent;
	border: 1px solid #585858;
	border-radius: 5px;
	padding:5px;
	color: white;
	margin-right: 50px;
	margin-left: 50px;
	cursor: pointer;

}

.modal-signin form .input:hover{
	background: #585858;

}


.modal-signin form .dont-acc{
	text-align: center;
	color: #1F7B81;
	margin-top: 60px;
	padding: 10px;
}




/*обзоры*/


.back-views {

	


	background-image: url("../img/backpages.png");
		background-color: rgba(0,0,0,.7);
	background-repeat: repeat;
	background-position: center;
	width: 100%;
	padding-top: 100px;

	
}

.contents-views {
	margin:120px auto;

	width: 1000px;
	border-radius: 5px;
	padding-right: 40px;
	padding-left: 40px;
	padding-top: 20px;
	padding-bottom: 20px;
	background: #2C2A2A;
	
}


.contents-views h3{
	color: white;
	padding-bottom: 40px;
}

.contents-views .container-create-view {
	display: flex;
	flex-direction: row;

	
}

.contents-views .container-create-view input{
	flex-grow: 5;
	margin-right: 5px;
	background: #3A3636;
	padding:10px;
	font-size: 1.2em;
	color: #6C6C6C;
	border:none;
	border-radius: 5px;
}
.contents-views .container-create-view button{
	flex-grow: 1;
	margin-left: 5px;
		border:none;
	border-radius: 5px;
	background: #7A7A7A;
	color:white;
	font-size: 16px;
	cursor: pointer;
	
}

.list-category-views {
	margin: 15px 0px;

}

.list-category-views a{

	padding: 5px;
	padding-left: 20px;
	padding-right: 20px;
	background: #7A7A7A;
	text-decoration: none;
	border-radius: 5px;
	color: white;

}


/* post content news */

.post-content {
	width: 100%;
	background: #151515;
	border-radius: 5px;
	padding: 30px;
	margin-bottom: 10px;
	
}

.post-content-top {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.post-content-top .post-category{
	color: #7B7B7B;

}

.post-data {

	border-radius: 50%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

}
.post-data .data {
	padding-left: 10px;
}

.post-data .data span{
	display:block;
}

.post-data .data .author{
	line-height: 25px;
	color: #fff;
	font-size: 17px;
}

.post-data .data .dateandtime{
	color:#7B7B7B;
	font-size: 15px;
}

.post-content-info {
	margin-top:30px;
}

.post-content-info p {
	margin-top:50px;
	color: #A9A5A5;
	font-size: 17px;
	line-height: 25px;
	margin-bottom: 20px;
}

.post-image {
	width: 100%;
	height: 500px;
	background-color:darkslategrey;
	border-radius: 5px;
}


.post-mark {
	margin-top: 10px;
	
	display: flex;
	flex-direction: row;
	align-items: center;
}

.post-mark span{
	margin-left: 5px;
	color: #BABABA;
	
}

/* новости */

.contents-news {
	margin:120px auto;

	width: 1000px;
	border-radius: 5px;
	padding-right: 40px;
	padding-left: 40px;
	padding-top: 20px;
	padding-bottom: 20px;
	background: #2C2A2A;
}
.headers-news {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.headers-news h3{
	color:#fff;

}

.headers-news h5{
	color:#fff;
	text-decoration: underline;
	font-weight:100;

	padding-left: 8px;
}

.containers-news {
	margin-top:50px;
	margin-bottom:50px;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: first baseline;
	flex-wrap: wrap;
	row-gap: 40px;
	column-gap: 60px;
}

.news-info {
	background: #1A0B2C;
	width: 430px;
	height: 280px;
	border-radius: 5px	;
	text-decoration: none;
	color: #fff;
	padding: 30px;
	position: relative;
}

.news-info .news-date{
	display: flex;
	flex-direction: column;
	position: absolute;
	align-items: flex-start;
	bottom: 55px;


}

.news-date .time-news {
	font-size: 24px;
	font-weight: 300;
	letter-spacing: 1px;
}

.news-date .title {
	font-size:30px;
	font-weight: bold;
	
}

/* страница новости */

.container-news {
	margin:120px auto;

	width: 1000px;
	border-radius: 5px;
	padding: 40px;

	background: #2C2A2A;
}
.container-news .poster-news{
	width: 100%;
	height: 400px;
	background: #1F7B81;
	border-radius: 5px;
	margin-bottom: 20px;
	position: relative;
	padding: 20px;
	color: #fff;
}

.poster-news .poster-info {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	bottom: 20px;
}

.poster-news .date {
	letter-spacing: 1px;
	font-weight: 300;
}

.poster-news .title {
	font-size: 26px;

	font-weight: bold;
	margin-bottom: 25px;
}


.container-news {
	color: #D1D1D1;
	font-size: 20px;
	line-height: 26px;
}
